/*  Non-homepage header */
.non-homepage-header {
  padding: 10px 25px;
  margin: 0;
  background-color: var(--primary-2-contrast-color);
}

.non-homepage-header .header-content {
  width: var(--content-width);
  max-width: var(--max-content-width);
  margin: 0 auto;
}

.non-homepage-header .header-content .header-text {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 10px;
  align-items: baseline;
}

.non-homepage-header .header-content .header-text h1 {
  font-size: 0.9rem;
  font-weight: normal;
  margin: 0;
  line-height: 0.9;
  color: var(--secondary-text-color);
}

.non-homepage-header .header-content .header-text p {
  font-size: 0.9rem;
  font-weight: thin;
  margin: 0;
  line-height: 0.9;
  color: var(--secondary-text-color);
  opacity: 0.6;
}